<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Detail</title>
  </head>
  <!-- Include the header partial -->
  <%- include('partials/header') %>
  <body>
    <h1>Message <%= message._id %>:</h1>
    <ul>
      <li>Title: <%= message.title %></li>
      <li>Text: <%= message.text %></li>

      <% if (user.membership === true) {%>
      <li>Author: <%= user.username%></li>
      <li>Time: <%=message.timestamp %></li>
      <%} %><% if(user.isAdmin) {%>
      <form action="/delete-message/<%= message.id %>" method="POST">
        <button type="submit">DELETE</button>
      </form>
      <%}%>
    </ul>
    <a href="/home">HOME</a>
    <a href="/log-out">LOG OUT</a>
  </body>
  <footer></footer>
</html>
